
* {
  box-sizing: border-box;
}

.app {
  padding: 10px;
}

.theme1 {
  background-color: #77DF79;
  padding: 10px;
}

.theme2 {
  background-color: #F1F0CF;
  padding: 10px;
}

.task-form {
  width: 200px;
  border: 1px solid lightgray;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 10px;
  min-width:10px;
  height: 25px;
}

.btn .primary {

}