
* {
  box-sizing: border-box;
}

.App {
  margin: 20px;
}


.App-header {
}

.task-form {
  width: 200px;
  border: 1px solid lightgray;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 10px;
  min-width:10px;
  height: 25px;
}

.btn .primary {

}